<!doctype html>
<html class="no-js">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>myapp 容器管理</title>
  <meta name="description" content="这是一个 gallery 页面">
  <meta name="keywords" content="gallery">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp" />
  <link rel="icon" type="image/png" href="assets/i/favicon.png">
  <link rel="apple-touch-icon-precomposed" href="assets/i/app-icon72x72@2x.png">
  <meta name="apple-mobile-web-app-title" content="Amaze UI" />
  <link rel="stylesheet" href="assets/css/amazeui.min.css" />
  <link rel="stylesheet" href="assets/css/admin.css">
  <script src="http://cdn.static.runoob.com/libs/jquery/1.10.2/jquery.min.js"></script>
</head>

<body>
  <!--[if lte IE 9]>
<p class="browsehappy">你正在使用<strong>过时</strong>的浏览器，Amaze UI 暂不支持。 请 <a href="http://browsehappy.com/" target="_blank">升级浏览器</a>
  以获得更好的体验！</p>
<![endif]-->

  <header class="am-topbar am-topbar-inverse admin-header">
    <div class="am-topbar-brand">
      <strong>myapp</strong>
      <small>docker管理平台</small>
    </div>

    <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only" data-am-collapse="{target: '#topbar-collapse'}">
      <span class="am-sr-only">导航切换</span>
      <span class="am-icon-bars"></span>
    </button>

    <div class="am-collapse am-topbar-collapse" id="topbar-collapse">

      <ul class="am-nav am-nav-pills am-topbar-nav am-topbar-right admin-header-list">
        <li>
          <a href="javascript:;">
            <span class="am-icon-envelope-o"></span> 收件箱
            <span class="am-badge am-badge-warning">5</span>
          </a>
        </li>
        <li class="am-dropdown" data-am-dropdown>
          <a class="am-dropdown-toggle" data-am-dropdown-toggle href="javascript:;">
            <span class="am-icon-users"></span> 管理员
            <span class="am-icon-caret-down"></span>
          </a>
          <ul class="am-dropdown-content">
            <li>
              <a href="#">
                <span class="am-icon-user"></span> 资料</a>
            </li>
            <li>
              <a href="#">
                <span class="am-icon-cog"></span> 设置</a>
            </li>
            <li>
              <a href="#">
                <span class="am-icon-power-off"></span> 退出</a>
            </li>
          </ul>
        </li>
        <li class="am-hide-sm-only">
          <a href="javascript:;" id="admin-fullscreen">
            <span class="am-icon-arrows-alt"></span>
            <span class="admin-fullText">开启全屏</span>
          </a>
        </li>
      </ul>
    </div>
  </header>

  <div class="am-cf admin-main">
    <!-- sidebar start -->
    <div class="admin-sidebar am-offcanvas" id="admin-offcanvas">
      <div class="am-offcanvas-bar admin-offcanvas-bar">
        <ul class="am-list admin-sidebar-list">
          <li>
            <a href="admin-index.html">
              <span class="am-icon-home"></span> 首页</a>
          </li>
          <li class="admin-parent">
            <a class="am-cf" data-am-collapse="{target: '#collapse-nav'}">
              <span class="am-icon-file"></span> 功能模块
              <span class="am-icon-angle-right am-fr am-margin-right"></span>
            </a>
            <ul class="am-list am-collapse admin-sidebar-sub am-in" id="collapse-nav">
              <li>
                <a href="admin-image.html">
                  <span class="am-icon-puzzle-piece"></span> 镜像管理</a>
              </li>
              <li>
                <a href="admin-container.html">
                  <span class="am-icon-th"></span> 容器管理</a>
              </li>
              <li>
                <a href="admin-log.html">
                  <span class="am-icon-calendar"></span> 系统日志</a>
              </li>
              <li>
                <a href="admin-container-log.html">
                  <span class="am-icon-bug"></span> 容器日志</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="admin-table.html">
              <span class="am-icon-table"></span> 表格</a>
          </li>
          <li>
            <a href="admin-form.html">
              <span class="am-icon-pencil-square-o"></span> 表单</a>
          </li>
          <li>
            <a href="#">
              <span class="am-icon-sign-out"></span> 注销</a>
          </li>
        </ul>

        <div class="am-panel am-panel-default admin-sidebar-panel">
          <div class="am-panel-bd">
            <p>
              <span class="am-icon-bookmark"></span> 公告</p>
            <p>时光静好，与君语；细水流年，与君同。—— Amaze UI</p>
          </div>
        </div>

        <div class="am-panel am-panel-default admin-sidebar-panel">
          <div class="am-panel-bd">
            <p>
              <span class="am-icon-tag"></span> wiki</p>
            <p>Welcome to the Amaze UI wiki!</p>
          </div>
        </div>
      </div>
    </div>
    <!-- sidebar end -->

    <!-- content start -->
    <div class="admin-content">
      <div class="admin-content-body">
        <div class="am-cf am-padding am-padding-bottom-0">
          <div class="am-fl am-cf">
            <strong class="am-text-primary am-text-lg">容器管理</strong> /
            <small>容器列表</small>
          </div>
        </div>

        <div class="am-g">
          <div class="am-u-sm-12">
            <table class="am-table am-table-bd am-table-striped admin-content-table">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>容器ID（只显示前20位）</th>
                  <th>源镜像</th>
                  <th>CMD命令</th>
                  <th>创建时间</th>
                  <th>状态</th>
                  <th>端口映射</th>
                  <th>容器名</th>
                </tr>
              </thead>
              <tbody id="containerlist">

              </tbody>
            </table>
          </div>
        </div>

        <hr/>
      </div>

      <footer class="admin-content-footer">
        <hr>
        <p class="am-padding-left">© 2014 AllMobilize, Inc. Licensed under MIT license.</p>
      </footer>

    </div>
    <!-- content end -->


  </div>

  <a href="#" class="am-icon-btn am-icon-th-list am-show-sm-only admin-menu" data-am-offcanvas="{target: '#admin-offcanvas'}"></a>

  <footer>
    <hr>
    <p class="am-padding-left">© 2014 AllMobilize, Inc. Licensed under MIT license.</p>
  </footer>

  <!--[if lt IE 9]>
<script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="assets/js/amazeui.ie8polyfill.min.js"></script>
<![endif]-->

  <!--[if (gte IE 9)|!(IE)]><!-->
  <script src="assets/js/jquery.min.js"></script>
  <!--<![endif]-->
  <script src="assets/js/amazeui.min.js"></script>
  <script src="assets/js/app.js"></script>
</body>

</html>



<script>

  $.getJSON("/api/container", function (data) {
    var htmltext = "";
    $.each(data, function (key, container) {
      htmltext = htmltext + "<tr>" +
        '<td>' + key + '</td>' +
        '<td>' + container[0].slice(0, 20) + '</td>' +
        '<td>' + container[1] + '</td>' +
        '<td>' + container[2] + '</td>' +
        '<td>' + container[3] + '</td>' +
        '<td>' + '<span class="am-text-success">' + container[4] + '</span>' + '</td>' +
        '<td>' + container[5] + '</td>' +
        '<td>' + container[6] + '</td>' + '</tr>' +
        '<tr>' + "容器管理：" +
        '<button onclick="handleStop(this)" data-stop-cid=' + container[0] + ' class="am-badge am-badge-danger am-dropdown-toggle" data-am-dropdown-toggle>' + "停止（stop）" +
        '</button>' +
        '<button onclick="handleStart(this)" data-start-cid=' + container[0] + ' class="am-badge am-badge-danger am-dropdown-toggle" data-am-dropdown-toggle>' + "启动（start）" +
        '</button>' +
        '<button onclick="handleKill(this)" data-kill-cid=' + container[0] + ' class="am-badge am-badge-danger am-dropdown-toggle" data-am-dropdown-toggle>' + "强制终止（kill）" +
        '</button>' +
        '<button onclick="handleRemove(this)" data-remove-cid=' + container[0] + ' class="am-badge am-badge-danger am-dropdown-toggle" data-am-dropdown-toggle>' + "删除（remove）" +
        '</button>' +
        '<input type="submit" onclick="handleCommit(this)" value="提交（生成镜像）" data-commit-cid=' + container[0] + '>' +
        '</tr>';
    })
    document.getElementById("containerlist").innerHTML = htmltext;
  })

  function handleStop(stop) {
    alert(cid)
    $.ajax({
      type: "POST",
      dataType: "json",
      url: "/api/container/operate",
      contentType: 'application/json',
      data: JSON.stringify({
        container_id: cid,
        event_type: "stop"
      }),
      success: function (data) {
        console.log(data)
        alert(data.Log)
      },
      error: function (data) {
        console.log(data)
        alert(data.responseJSON.Log)
      }
    })
  }

  function handleStart(start) {
    cid = start.getAttribute("data-start-cid")
    $.ajax({
      type: "POST",
      dataType: "json",
      url: "/api/container/operate",
      contentType: 'application/json',
      data: JSON.stringify({
        container_id: cid,
        event_type: "start"
      }),
      success: function (data) {
        console.log(data)
      },
      error: function (data) {
        console.log(data)
        alert(data.responseJSON.Log)
      }
    })
  }

  function handleKill(kill) {
    cid = kill.getAttribute("data-kill-cid")
    $.ajax({
      type: "POST",
      dataType: "json",
      url: "/api/container/operate",
      contentType: 'application/json',
      data: JSON.stringify({
        container_id: cid,
        event_type: "kill"
      }),
      success: function (data) {
        console.log(data)
        alert(data.Log)
      },
      error: function (data) {
        console.log(data)
        alert(data.responseJSON.Log)
      }
    })
  }

  function handleRemove(remove) {
    cid = remove.getAttribute("data-remove-cid")
    $.ajax({
      type: "POST",
      dataType: "json",
      url: "/api/container/operate",
      contentType: 'application/json',
      data: JSON.stringify({
        container_id: cid,
        event_type: "remove"
      }),
      success: function (data) {
        console.log(data)
        alert(data)
        location.reload()
      },
      error: function (data) {
        console.log(data)
        alert(data.responseJSON.Log)
      }
    })
  }

  function handleCommit(commit) {
    cid = commit.getAttribute("data-commit-cid")
    var str = prompt("你正在提交容器：" + cid + "\n请输入目标 （镜像名:tag, tag默认为latest）", "myapp:1.0");
    if (str) {
      $.ajax({
        type: "POST",
        dataType: "json",
        url: "/api/container/commit",
        contentType: 'application/json',
        data: JSON.stringify({
          container_id: cid,
          image_name: str
        }),
        success: function (data) {
          console.log(data)
          alert("提交成功！，目标镜像id为：" + data)
        },
        error: function (data) {
          console.log(data)
          alert(data.responseJSON.Log)
        }
      })
    }
  }
</script>