<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title>登录 | Myapp</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="format-detection" content="telephone=no">
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp" />
  <link rel="alternate icon" type="image/png" href="assets/i/favicon.png">
  <link rel="stylesheet" href="assets/css/amazeui.min.css"/>
  <script src="http://cdn.static.runoob.com/libs/jquery/1.10.2/jquery.min.js"></script>
  <style>
    .header {
      text-align: center;
    }
    .header h1 {
      font-size: 200%;
      color: #333;
      margin-top: 30px;
    }
    .header p {
      font-size: 14px;
    }
  </style>
</head>
<body>
<div class="header">
  <div class="am-g">
    <h1>Myapp</h1>
    <p>docker容器管理平台</p>
  </div>
  <hr />
</div>
<div class="am-g">
  <div class="am-u-lg-6 am-u-md-8 am-u-sm-centered">
    <h3>登录</h3>
    <hr>
    <br>
    <br>
      <label for="account">账号:</label>
      <input type="email" id="account" required="required">
      <br>
      <label for="password">密码:</label>
      <input type="password" id="password" required="required">
      <br>
      <label for="isadmin">
        <input id="isadmin" type="checkbox">
        注册为管理员
      </label>
      <br />
      <div class="am-cf">
        <input type="button" onclick="login()" value="登 录" class="am-btn am-btn-primary am-btn-sm am-fl">
        <input type="button" onclick="forget()" value="忘记密码 ^_^? " class="am-btn am-btn-default am-btn-sm am-fr">
      </div>
    <hr>
    <p>© 2014 AllMobilize, Inc. Licensed under MIT license.</p>
  </div>
</div>
</body>
</html>

<script>
function login() {
  var name = document.getElementById("account").value
  var password = document.getElementById("password").value
  var isadmin = document.getElementById("isadmin").checked
  alert(name + password)
  $.ajax({
      type: "POST",
      dataType: "json",
      url: "/login",
      contentType: 'application/json',
      data: JSON.stringify({
        user_name: name,
        user_password: password,
        isadmin: isadmin
      }),
      success: function (data) {
        console.log(data)
      },
      error: function (data) {
        console.log(data)
        alert(data.responseJSON.Log)
      }
    })
}

</script>
